<Page class="page" navigatingTo="onNavigatingTo" loaded="onLoaded" xmlns="http://www.nativescript.org/tns.xsd">

    <ActionBar >
        <Label class="action-bar-title" text="VIDAL Mobile"></Label>
    </ActionBar>

    <StackLayout class="page">
        <ListView items="{{ menu }}" itemTap="OnTapHandler" >
            <ListView.itemTemplate>

                <Label text="{{ name }}" margin="10" textWrap="true"/>
            </ListView.itemTemplate>
        </ListView>
    </StackLayout>

</Page>

